box {
 height: 100px;
 width: 100%;
 border: 2px solid #000;
}

minibox {
  height: 50px;
  backgroud-color: green;
}








- Сверстать элемент, высотой 100px с рамкой в 2px цветом #000. Элемент должен занимать 8 колонок 

Внутри этого элемента расположить 4 элемента с высотой 50px и сплошным фоном зеленого цвета.
Элементы должны занимать одинаковую ширину (количество колонок).
