.flex-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background-color: saddlebrown;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    height: 300px;
    align-items: center;
}

.box {
    box-shadow: 1px 1px 1px 1px;
    background-color: beige;
    text-align: center;
}