.marginNone {
    margin-right: 0 !important;
}






/*//Margin Styles*/
h1,
h2,
h3 {
    font-family: "AvenirNextCyr-Medium", serif;
    color: #353535;
}

h2 {
    font-size: 30px;
}

h1 {
    font-size: 48px;
    font-weight: normal;
    margin: 15px 0 15px 0;
}

p {
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "AvenirNextCyr-Light", serif;
    color: #353535;
}

a:hover {
    font-weight: bold;

}

.into-sheader .block img {
    display: inline-block;
}

.second-header .logo {
    margin-left: -150px;
}

.into-sheader .block label img.burger {
    display: none;
}

.preheader {
    box-sizing: border-box;
    padding: 8px 0 10px 0px;
    width: 100%;
    height: 40px;
    font-family: "Arial", serif;
    background: #343434;
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;

}

.hidden {

    width: 100%;
    font-size: 16px;
    font-family: "AvenirNextCyr-Medium", serif;
}

.hidden,
.hidden2 {
    display: none;
    text-align: center;
}

.preimg {
    display: inline-block;
}

.container {
    overflow-x: hidden;
    max-width: 1356px;
    min-height: 40px;
    margin: 0 auto;
}

.preheader {
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    justify-content: flex-end;
}

.preheader p {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    color: white;
    font-family: "AvenirNextCyr-Regular", serif;
}

.preheader .block {
    margin-top: 8px;
    margin-left: 50px;
    margin-right: 50px;
}


.preheader p a {
    color: white;
    text-decoration: none;
}

.block img {
    margin-right: 10px;
    transform: translateY(2px);
}

.block {
    display: inline-block;
}

.display {
    max-width: 100%;
}

.second-header {
    background: #fff;
    height: 108px;
    padding-top: 42px;
    box-sizing: border-box;

}

.into-sheader {
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    align-content: center;
    -webkit-align-content: center;
    -ms-align-content: center;
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;

}



.block input {
    border: none;
    font-family: "AvenirNextCyr-Regular", serif;
    font-size: 16px;
    height: 30px;
}
.block form{
    width: 210%;
    margin: 0;
    padding: 0;
}
.block form #reset{
    cursor: pointer;
    opacity: 0;
    width: 8px;
    height: 8px;
    background: url(../images/minix.png);
    border: none;
    background-size: cover;
    background-position: center;
    transform: translateX(-20px);
}
.block input:focus {
    border-bottom: 1px solid black;
}
.block input:focus ~ #reset{
    opacity: 1;
}

.block p.shipCount {
    display: inline;
    font-weight: bold;
    font-size: 18px;
}

.marginLeft {
    margin-left: 400px;
}

.shop {
    float: right;

}


.third-header {
    width: 100%;
    height: 80px;
    border-top: 2px solid #c8c7c6;
    border-bottom: 2px solid #c8c7c6;
    box-sizing: border-box;
    padding-top: 10px;
}

.menu ul.main {
    list-style: none;

}

.menu ul {
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
}

.menu ul.main li {
    font-family: "AvenirNextCyr-Medium", serif;
    display: inline-block;
    text-transform: uppercase;

}

.menu ul.main li a {
    text-decoration: none;
    color: black;
}


input {
    outline: none;
}


.menu-down {
    opacity: 0;
    position: absolute;
    transition: .3s;
    height: 350px;
    width: 100%;
    margin-top: 15px;
    background: #fff;
    transform: translate(-220px, -15px);
    pointer-events: none;
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    vertical-align: text-top;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    flex-direction: row;


}

.menu-down ul {
    flex-direction: column;
}

.main .dress .menu-down li {
    font-weight: lighter;
}

.main .dress .menu-down li:hover {
    font-weight: bold;
}

.menu ul.main li a:hover .menu-down {
    opacity: 1;
    pointer-events: all;
    box-shadow: 0 400px 0 50px rgba(0, 0, 0, 0.0);
    /* Параметры тени */
}

.menu-down:before {
    transition: .3s;
    position: absolute;
    width: 200%;
    height: 200vh;
    background: rgba(0, 0, 0, 0.1);
    transform: translate(-530px, 100px);
    content: "";
}

.menu ul.main li a:hover .menu-down:before {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    transform: translate(-280px, 350px);
    content: "";
}



.h {
    height: 30px;
    width: 100%;
    border-bottom: 2px solid #c8c7c6;
    position: absolute;
}

.block-2 {
    display: inline-block;
    width: 210px;
    float: left;
}

.block-2 ul li {
    margin-top: 25px;
    text-transform: none !important;
}

.block-2 ul li {
    font-family: 'AvenirNextCyr-Regular' !important;
}

.block-2 {
    margin-top: 30px;
    display: block;
}

.block-2 ul li:hover {
    font-weight: bold;
}

.menu-down .block-2.image{
    margin-top: 60px;
}
section {
    margin-top: 30px;
}



#first .sale {

    max-width: 100%;
    height: 658px;
    background: url('../images/photos/banner1.png');
    background-size: cover;
    background-position: center center;
}




.Sports img:nth-child(3) {
    

}

.photo-2{
    width: 1270px;
    z-index: 1;
        position: absolute;
    transform: translate(-725px, 34px);
}
.photo-2 img{
    width: 100%;
}
#second {
    margin-top: 110px;
}

.photo-2 {
    display: inline-block;
}

#third {
    margin-top: 150px;
}

#third .container {
    text-align: center;
}

#second a {
    text-decoration: none !important;
}

.popup {
    opacity: 0;
    transition: .3s;
    cursor: pointer;
    position: absolute;
    background-color: rgba(255, 255, 255, .66);
    text-align: center;
    width: 535px;
    height: 877px;
}

.popup-tuf {
    opacity: 0;
    transition: .3s;
    cursor: pointer;
    position: absolute;
    background-color: rgba(255, 255, 255, .66);
    width: 610px;
    height: 285px;
    text-align: center;
}

.text {
    border: 1px solid #353535;
}

.popup:hover {
    opacity: 1;
}

.popup-tuf:hover {
    opacity: 1;
}

.popup a {
    height: 50px;
    width: 160px;
    padding: 12px 40px 12px 40px;
    background-color: #353535;
    color: white;
    font-family: 'AvenirNextCyr-Medium';
    text-decoration: none;
    font-size: 14px;
}

.popup p {
    margin-top: 350px;
    font-family: 'AvenirNextCyr-Medium';
    font-size: 30px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.first {
    width: 535px;
    display: inline-block;
}

.second {
    display: inline-block;
    width: 787px;
    margin-left: 30px;

}

.blackHR {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 210px;
    height: 8px;
    width: 370px;
    background-color: #353535;
}

#fourth {
    margin-top: 120px;
}

.ves img:nth-child(1) {
    width: 610px;
    height: 285px;
}

.popup-tuf a {
    padding: 12px 40px 12px 40px;
    background-color: #e0aba5;
    color: white;
    font-family: 'AvenirNextCyr-Medium';
    text-decoration: none;
    font-size: 14px;


}

.popup-tuf p {
    margin-top: 142.5px;
}

.figure-6 {
    position: absolute;
    transform: translate(-135px, -50px)
}

.figure-7 {
    position: absolute;

}

.trend {
    margin-top: 240px;
    width: 50%;
}

.transform {
    transform: translate(120px, 0);
}

.popup-trend {
    width: 648px;
}

.r {
    position: absolute;
    transform: translateX(850px);
}

.popup-dress {
    width: 450px;
    height: 900px;
}

.popup-dress p {
    margin-top: 350px;
}

section#uzn {
    margin-top: 200px;
}

.one,
.two {
    width: 800px;
    max-width: 100%;
    display: inline-block;
}

.one {
    width: 200px;
}

.inputs {
    margin-top: 80px;
    margin-bottom: 80px;
}

.inputs input {
    display: inline-block;
}

.inputs input[type=email] {
    box-sizing: border-box;
    padding: 18px;
    width: 400px;
    height: 50px;
    font-size: 15px;
    font-family: 'AvenirNextCyr-Regular';
}

.inputs input[type=submit] {
    box-sizing: border-box;
    width: 175px;
    height: 50px;
    background-color: #343434;
    color: white;
    border: none;
    font-size: 14px;
    font-family: 'AvenirNextCyr-Regular';
    cursor: pointer;
    transition: .3s;
}

.inputs input[type=submit]:hover {

    background-color: #e0aba5;

}

footer {
    box-sizing: border-box;
    min-height: 500px;
    background-color: #353535;
    margin-top: 135px;
    padding-top: 160px;
    padding-bottom: 50px;
}

footer .col {
    color: white;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 70px;
    float: left;
}

footer .col:nth-child(6) {
    margin-right: 0;
}

footer .col ul {
    list-style: none;

}

.phone {
    display: none;
}

footer .col a {
    font-size: 16px;
    font-family: 'AvenirNextCyr-Regular';
    color: white;
    text-decoration: none;
}

footer .col ul li {
    margin-bottom: 13px;
}

footer .col h3 {
    color: white;
    font-size: 16px;
    font-family: 'AvenirNextCyr-Medium';
    font-weight: lighter;
    margin-bottom: 23px;
    margin-top: 0;
}

footer .col.opl {
    width: 240px;
    height: 200px;
    vertical-align: text-top;
}

footer .col.opl img {
    transform: translateY(-15px);
    margin-right: 8px;
}

footer .col.opl .mcard {
    transform: translateY(-10px);
}

footer .col p {
    margin-top: 180px;
    font-size: 16px;
    color: white;
}

.imgs {
    float: right;

}

.imgs a div {
    margin-left: 20px;
    width: 37px;
    background-size: cover;
    height: 37px;
    display: inline-block;
}

.imgs .fb {
    background: url(../images/facebook.png);

}

.imgs .inst {
    background: url(../images/instagram.png);
}

.imgs .vk {
    background: url(../images/vkontakte.png);
}

.imgs .fb:hover {
    background: url(../images/afbwhite.png);

}

.imgs .inst:hover {
    background: url(../images/ainstwhite.png);
}

.imgs .vk:hover {
    background: url(../images/avkwhite.png);
}


.copyright {
    color: white;
}

.zaglMarc {
    margin-bottom: 100px;
    z-index: 200;
}

/*BURGER*/
.burger-popup {
    display: none;
}

input#burger {
    display: none;
}

input#burger:checked ~ .burger-popup {
    display: block;
}

input#popup-open:checked .popup-form {
    opacity: 1;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.show {
    opacity: 1;
    pointer-events: all;
}

.burger-popup {
    position: absolute;
    z-index: 99899;
    width: 1000px;
    height: 2000px;
    transform: translateY(-250px);
    background: rgba(0, 0, 0, .5);
}

.burger-menu {
    z-index: 999999;
    position: absolute;
    width: 240px;
    height: 580px;
    background: white;
    transform: translateY(200px);
}

.closing {
    cursor: pointer;
    width: 35px;
    transform: translateX(200px) !important;
}

.popup-form {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 110vh;
    background: rgba(0, 0, 0, 0.5);
    perspective: 1200px;
}

.popup-form-form {
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 7.44px 0.56px rgba(144, 147, 148, 0.29);
    width: 329px;

    z-index: 168;
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -351px;
    margin-left: -154.5px;
}

input {
    border: none;
}

.popup-form-form form {
    width: 100%;
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    padding: 50px;
}

.lightColor {
    color: #d4d4d4;
    font-family: 'AvenirNextCyr-Regular';
    font-size: 12px;
    margin: 0;
    transform: translate(-56px, -25px)
}

.chick {
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    margin-left: 40px;
    margin-right: 40px;
}

.chick a {
    color: black;
}

.checkbox {

    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

.checkbox + label {
    position: relative;
    cursor: pointer;
}

.checkbox + label:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    transition: .2s;
    border: 2px solid lightgray;
    transform: translate(5px, -70px);
}

.checkbox + label:after {
    opacity: 0;
    content: "✔";
    position: absolute;
    font-size: 11px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    transition: .2s;
    transform: translate(7px, -70px);

}

.checkbox:checked + label:before {}

.checkbox:checked + label:after {
    opacity: 1;
}

.popup-form-form .chick input {
    width: 15px;
    background-color: white;
}

.popup-form-form .chick input:after {
    height: 10px;
    width: 15px;
    box-sizing: border-box;
    border: 2px solid #c9c9c9;
    content: "v";
}

.popup-form-form input {
    padding: 0px;
    width: 235px;
    height: 32px;
    font-size: 16px;
    border: 1px solid white;
    border-bottom: 1px solid #9a9a9a;
    color: #d9d9d9;
    color: black;
    margin-bottom: 30px;

}

.popup-form-form input[type='submit'] {

    color: white;
    height: 37px;
}

.popup-form-form input:focus {
    border-bottom: 1px solid black;

}

.btn {

    margin-top: 10px;
    box-sizing: border-box;
    width: 235px;
    height: 40px;
    background-color: #343434;
    color: white;
    border: 0;
    font-size: 14px;
    font-family: 'AvenirNextCyr-Regular';
    cursor: pointer;
    transition: .3s;
    margin-bottom: 25px;
}


.btn:hover {
    background-color: #e0aba5;
}

.popup-form-form p {
    color: #5b5b5b;
    font-family: 'AvenirNextCyr-Medium';
    font-weight: bold;
    margin-bottom: 35px;
}

.soc-seti {
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    margin-top: -30px;
    margin-bottom: 47px;
}

p.acc {
    margin-bottom: 5px;
}

.popup-form-form a.forget-a {
    color: #c3c3c3;
    text-decoration: none;
    transition: .3s;
    font-size: 16px;
    font-family: 'AvenirNextCyr-Medium';
    margin-bottom: 35px;

}

.popup-form-form a.forget-a:hover {
    color: #5b5b5b;
}

.reg {
    margin: 0;
}

.burger-block-human {
    width: 100%;
    height: 45px;
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    vertical-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    border-bottom: 1px solid #343434;
}

.burger-block-human a {
    color: #353535;
    text-decoration: none;
    font-size: 13px;
    font-family: 'AvenirNextCyr-Regular';
}

.burger-block-human {
    width: 100%;
    height: 45px;
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    vertical-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    border-bottom: 1px solid #343434;



}

a.btn {
    padding: 10px 25px 10px 65px;
}

.burger-block-human img {

    transform: translateY(13px);
    width: 20px;
    height: 22px;

}

.registr {
    z-index: 998;
    position: absolute;
    transition: .3s;


}


.log {
    z-index: 999;
    transition: .3s;
    position: absolute;


}

.neperever {
    transform: rotateX(0);
    z-index: 999;

}

.perever {
    transform: rotateX(180deg);
    z-index: 998;
}

.close {
    cursor: pointer;
    width: 15px;
    height: 15px;
    position: absolute;
    background: url(../images/x.png);
    background-size: cover;
    transform: translate(255px, -30px);

}

.cs {
    font-size: 12px;
    font-family: 'AvenirNextCyr-Regular';
    color: #6b6b6b;
}

.cs a {
    text-decoration: underline;
    color: #6b6b6b;
}

/*BURGER*/


/*  MM    MM     EEEEEE  DDDDD   III    AAA
   MM MM MM MM   Eeeee   DD  DD  III   A A A
  MM   MMM   MM  EEEEEE  DDDDD   III  A     A*/



@media screen and (max-width: 1507px) {
    .container {
        max-width: 1356px !important;
    }

}

@media screen and (max-width: 1325px) {

    .figure-6,
    .figure-7 {
        display: none;
    }



    .r {
        position: relative;
        transform: translate(0, 0);
    }

    #third .container,
    #fourth .container {
        display: flex;
        -webkit-display: flex;
        -ms-display: flex;
        justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        flex-direction: column;
        align-content: center;
        -webkit-align-content: center;
        -ms-align-content: center;
        align-items: center;
        -ms-align-items: center;
        -webkit-align-items: center;
        margin-top: 20px;
    }

    #third .popup {
        opacity: 1;
    }

    #third .popup p,
    #third .popup a {
        display: none;
    }

    .hidden,
    .hidden2 {
        display: block;
    }

    #second {
        height: 400px;

    }

    #second .container .Sports img {
        transform: translate(-20%, 0) ;
        
    }
}

@media screen and (max-width: 1329px) {
    .style1 {
        display: none;
    }
    .photo-2{
        transform: translate(22%,0);
    }



}

@media screen and (max-width: 1313px) {
    .preheader .block {
        margin-left: 20px;
        margin-right: 20px;
    }

    .menu-down {
        transform: translate(-16%, -15px);
    }
}

@media screen and (max-width: 1073px) {
    .preheader .block {
        font-size: 10px;
    }
}

@media screen and (max-width: 1064px) {
    .preheader .block:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    #second .container .Sports .photo-2 img {
        transform: translate(-600px, 0);
    }
}

@media screen and (max-width: 851px) {
    .preheader .block:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 634px) {
    footer {
        display: flex;
        -webkit-display: flex;
        -ms-display: flex;
        flex-direction: column;
        align-content: center;
        -webkit-align-content: center;
        -ms-align-content: center;
        align-items: center;
        -ms-align-items: center;
        -webkit-align-items: center;
        margin-top: -60px;
        padding-top: 30px;
    }

    .logof {
        margin-bottom: 15px;
    }

    footer .col h3 {
        margin: 0;
        font-size: 11px;
    }

    .col {
        display: flex;
        -webkit-display: flex;
        -ms-display: flex;
        align-content: center;
        -webkit-align-content: center;
        -ms-align-content: center;
        text-align: center;
        align-items: center;
        -ms-align-items: center;
        -webkit-align-items: center;
        width: 100%;
        margin: 0;
    }

    footer .col.opl {
        margin: 0 !important;
        width: 100%;
        height: 60px;

    }

    footer .col.opl img {
        margin-top: 10px;
    }

    footer .soc p {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    footer .col ul {
        display: none;
    }

    footer .imgs {
        margin: 0;
        text-align: center;
    }

    footer .soc img {
        margin: 0;

    }

    footer .col.soc {
        display: flex;
        -webkit-display: flex;
        -ms-display: flex;
        flex-direction: column;
    }

    .opl {
        width: 100%;
    }

    .second-header .logo {
        margin-left: 50px;
    }

    #fourth h1 {
        font-size: 24px;
    }

    .r h2,
    .l h2 {
        font-size: 16px;
        text-align: center;
    }

    .s {
        margin-top: 110px;
    }

    .blackHR {
        display: none;
    }

    .container {
        max-width: 100% !important;
    }

    .Sports {
        display: flex;
        -webkit-display: flex;
        -ms-display: flex;
        align-items: center;
        -ms-align-items: center;
        -webkit-align-items: center;
        flex-direction: column;
    }

    #second .container .Sports .photo-2 img {
        transform: translate(-455px, 150px);
    }

    .second-header input {
        display: none;
    }

    .third-header {
        display: none;
    }

    .into-sheader .block label img.burger {
        float: left;

        cursor: pointer;
        display: block;
        margin-left: 15px;
        transform: translate(0, 6px) scale(1.5) !important;
    }

    .into-sheader .block label {
        width: 100px;
    }

    .burger img {
        width: 20px;
        height: 20px;
    }

    .preheader .block p {
        font-size: 10px;


    }

    .preheader .container {
        display: flex;
        -webkit-display: flex;
        -ms-display: flex;
        align-content: center;
        -webkit-align-content: center;
        -ms-align-content: center;
        align-items: center;
        -ms-align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
    }

    .preheader .block {
        max-width: 30%;
        transform: translateY(-5px);
        display: flex;
        -webkit-display: flex;
        -ms-display: flex;
        align-items: center;
        -ms-align-items: center;
        -webkit-align-items: center;
        margin-left: 5px;
        margin-right: 5px;
    }

    .preheader .block img {
        width: 20px;
        height: 20px;
    }

    .preheader .block.phone {
        display: inline-block;
        transform: translateY(-5px);
    }

    .preheader .block:nth-child(6) {
        display: none;
    }

    .preheader .block:nth-child(3) {
        display: none;
    }

    .hidden {
        display: block;
    }

    .hidden-2 {
        transform: translateY(200px);
    }

    #second .img {
        transform: translateY(100px);
    }
}

@media screen and (max-width: 591px) {

    .inputs input[type="email"] {
        width: 50%;
    }

}

@media screen and (max-width: 398px) {
    .second-header .logo {
        margin: 0;
    }
}

@media screen and (max-width: 367px) {
    .inputs input[type="submit"] {
        width: 50%;
    }
}

@media screen and (max-width: 348px) {
    .second-header .logo img {
        width: 100px;
    }
}

@media screen and (max-width: 320px) {
    #second{
        height: 200px;
    }
    #third{
    padding-top: 0;
    
    }
    #third  .first h1{
        font-size: 24px;
    }
    #third  .first p{
        transform: translateX(120px);
        width: 300px;
    }
    #third  .second h1{
        font-size: 24px;
    }
    #third  .second img{

        width: 360px;
    }
    #third .second .f {
        margin-top: 40px;
    }
    #third .second .s{
        margin-top: 40px;
    }
    #second .Sports  .zaglMarc h1{
        font-size: 24px;
    }
    #second .Sports .photo-2{
        transform: translate(460px,-80px);
    }
     #second .Sports .photo-2 img{
        width: 70%;
    }
    #first .container .sale {
        height: 275px;
    }
    #fourth{
        margin-top: 60px;
    }
    #fourth h2{
        font-size: 16px;
        font-weight: normal;
    }
    .l .ves h2{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .l .trend{
        margin-top: 0;
        margin-bottom: 0;
    }
    .l .trend h2{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .l .trend img{
        transform: translate(-250px,0);
    }
    section#uzn{
        margin-top: 80px;;
    }
    
    #uzn .inputs {
        margin-top: 10px;
    }
    .preheader .block p {
        font-size: 10px;
        transform: translate(0, 4px);

    }

    .preheader .container {
        display: flex;
        -webkit-display: flex;
        -ms-display: flex;
        align-content: center;
        -webkit-align-content: center;
        -ms-align-content: center;
        align-items: center;
        -ms-align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
    }

    .preheader .block {
        display: flex;
        -webkit-display: flex;
        -ms-display: flex;
        align-items: center;
        -ms-align-items: center;
        -webkit-align-items: center;
        margin: 0;
        transform: translateY(50px);
    }

    .preheader .block.phone {
        display: inline-block;
        transform: translateY(0px);
    }



    .inputs input[type=email] {
        padding: 5px;
        width: 244px;
        height: 32px;
        font-size: 11px;
        border: 1px solid;

    }

    .inputs input[type=submit] {
        width: 46px;
        height: 32px;
        font-size: 5px;


    }

    #uzn .container h1 {
        font-size: 24px !important;
    }

    .two p {
        font-size: 11px;
    }

    .l .trend .transform {
        width: 100%;
        transform: translate(150px, 0) !important;
    }

    .transform h2 {
        width: 100%;
        text-align: center;
    }

    .display .one {
        display: none;
    }

    .block.glass img {
        width: 20px;
        height: 20px;
    }

    .zaglMarc {
        font-size: 21px !important;
    }

    .block.center.logo {
        width: 120px;
        height: 25px;
    }

    .Sports img {
        transform: translateX(-250px);
    }
    
    .zaglMarc {
        text-decoration: none;
    }

    .into-sheader {
        max-width: 320px;
    }

    .block.shop img {
        width: 15px;
        height: 15px;
        margin-right: -3px;
    }

    .preheader .container {
        display: flex;
        -webkit-display: flex;
        -ms-display: flex;
        flex-direction: row;
        align-items: center;
        -ms-align-items: center;
        -webkit-align-items: center;
        justify-content: flex-end width: 100%;
        -webkit-justify-content: flex-end width: 100%;
        -ms-justify-content: flex-end width: 100%;
        height: 40px;
        overflow-y: hidden;

    }

    .preheader .block {
        display: flex;
        -webkit-display: flex;
        -ms-display: flex;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        -ms-justify-content: flex-start;
        height: 10px;
        width: 130px;
        margin: 0;
        transform: translateY(-4px);

    }

    html .preheader .block.humen {
        display: none !important;
    }

    .preheader .block:nth-child() {
        display: none;

    }

    .preheader .block img {
        width: 15px;
        height: 15px;
    }

    .preheader .block.phone {
        transform: translateY(-5px);
        width: 7%;
    }

    .preheader .container .block img {
        max-width: 200%;
        min-width: 14px;
        min-height: 14px;
    }
}

.center {}

summary h3 {
    margin: 0;
    font-weight: lighter;
    font-size: 11px;
    font-family: 'AvenirNextCyr-Medium';
    margin-left: 15px;
}

details ul {
    margin: 0;
    margin-left: -15px;
    list-style: none;

}

details ul li a {
    text-decoration: none;
    color: #353535;
    font-size: 11px;
    font-family: 'AvenirNextCyr-Regular';
}

summary {
    transition: .3s;
    width: 100%;
    outline: 0;
    text-align: center;
    font-size: 85%;
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    cursor: pointer;

}

summary::after {
    font-weight: 500;
    content: "+";
    display: inline-block;
    padding-right: 15px;
    font-size: 180%;
    color: #034171;
}

details[open] summary::after {
    content: '-';
    font-weight: 500;
    display: inline-block;
    padding-right: 15px;
    font-size: 180%;
}

details[open] summary:hover {
    background: none;
}

summary:hover {
    background: #d3d3d3;
}

details summary::-webkit-details-marker {
    display: none;
}
