.main-header {
    margin-top: 3%;
}

.main-logo {
    width: 155px;
    height: 55px;
    border: 3px solid #706b73;
    color: #706b73;
    text-align: center;
    line-height: 49px;
}

.main-logo span {
    color: #fa9a87;
}

.main-logo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 36px;
    border-radius: 3px;
}

.line {
    border-radius: 15px;
    display: block;
    width: 30px;
    height: 5px;
    background-color: #706b73;
    top: 50%;
    right: 0;
    position: absolute;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
}

.line::before {
    border-radius: 15px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #706b73;
    top: 50%;
    right: 0;
    position: absolute;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
.line::after {
    border-radius: 15px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #706b73;
    top: 50%;
    right: 0;
    position: absolute;    
    -webkit-transform: translateY(4.7px);
    -ms-transform: translateY(4.7px);
    -o-transform: translateY(4.7px);
    transform: translateY(4.7px);
}

.main-nav-bar {
 
    position: relative;
    float:right;
    width: 30px;
}

.burger-menu {
    margin-top: 20px;
    text-align: right;
}
